/* Theme Variables */
:root {
    /* Colors */
    --primary-color: #0077b6; /* Ocean Blue */
    --primary-hover-color: #023e8a; /* Darker Ocean Blue */
    --secondary-color: #03045e; /* Deep Blue */
    --secondary-hover-color: #000839; /* Midnight Blue */
    --background-color: #caf0f8; /* Light Aqua */
    --white-color: #f8f9fa; /* Soft White */
    --light-gray-color: #adb5bd; /* Muted Gray */
    --dark-gray-color: #495057; /* Darker Gray */
    --border-color: #dee2e6; /* Light Border Gray */
    --box-shadow-color: rgba(0, 85, 170, 0.2); /* Light Blue Shadow */

    /* Fonts */
    --primary-font: 'Roboto', sans-serif;
    --heading-font: 'Lora', serif;
    --font-size-large: 3rem;
    --font-size-medium: 1.8rem;
    --font-size-small: 1rem;
    --font-size-xs: 0.875rem;

    /* Spacing */
    --section-padding: 60px;
    --container-width: 85vw;
    --container-max-width: 1400px;
    --gap-small: 8px;
    --gap-medium: 12px;
    --gap-large: 16px;
    --gap-extra-large: 24px;

    /* Buttons */
    --button-border-radius: 50px;
    --button-padding: 12px 28px;

    /* Box Shadows */
    --box-shadow: 0 6px 12px var(--box-shadow-color);

    --menu-container-width: 280px;
}
